# Secrets
.venv311

# Large files
models/*.pt
data/database.db
data/logs/

# Python
__pycache__/
*.pyc
venv311/

#pictures
cam_test_0.jpg
cam_test_1.jpg
cam_test_2.jpg
config/parking_spaces_preview.png
config/parkinglot.png